scipy==1.11.4
matplotlib==3.8.4
pandas==2.2.3
ydata-profiling==4.6.4
jax==0.4.30
jaxlib==0.4.30
tensorflow==2.17.0
numpy==1.23.5
Flask==3.0.3
requests==2.32.3
pyyaml==6.0.2
Flask-Cors==5.0.0
Flask-SocketIO==5.3.7
